@import url('https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;  /* padding and border are included in the width and height */
}

body {
    background-color: #FFE8C5;
    font-family: "Delius", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    margin: 0;
}

.box {
    background-color: #97BE5A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(255, 0, 0, 0.819);
}

